body{
    background: #eee;
    font-size: 3vh;
}
.lang{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font-weight: 600;
    
}
.en{
    color: #333;
}
.es{
    color:#00a1ff;
}

.toggle {
    appearance: none;
    margin: 0 10px;
    min-width: 50px;
    min-height: 25px;
    max-width: 50px;
    max-height: 25px;
    border-radius: 25px;
    position: relative;
    background-color: #e8e8e8;
    border: 2px solid #979797;
    cursor: pointer;
    transition: background-color .2s, border-color .2s;
}

.toggle:checked {
    background-color:#00a1ff;
    border: 2px solid #055e84;
}
.toggle:after {
    content: ' ';
    min-height: 20px;
    min-width: 20px;
    border: 2px solid #979797;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    pointer-events: none;
    top: 1px;
    transition: left .2s, border-color .2s;
}
.toggle:checked:after {
    left: calc(100% - 20px - 1px);
    border:2px solid #055e84;
}

.section{
    background: linear-gradient(#fff -90%, transparent);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgba(153, 153, 153, 0.05);
    -webkit-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    color: #333;
    font-size: 2.3vh;
    text-align: center;
}
.section h1{
    color: #00a1ff;
    font-size: 3.5vh;
    text-transform: uppercase;
    
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 100%;
    counter-reset: list;
    
  }
  
  dl {
    height: 40vh;
    max-width: 70vh;
    width: 100%;
    align-self: center;
    box-sizing: border-box;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right top, color-stop(80%, #fff), to(transparent));
    background: linear-gradient(to right, #fff 80%, transparent);
    box-shadow: -5px 5px 5px 0px rgba(153, 153, 153, 0.05);
    -webkit-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
  }
  dl:nth-child(even) {
    margin-left: 20px;
  }
  dl:nth-child(odd) {
    margin-right: 20px;
  }
  dl:hover {
    box-shadow: 0px 5px 0px 0px rgba(153, 153, 153, 0);
  }
  dl:hover:before {
    margin-left: 10px;
  }
  dl:before {
    counter-increment: list;
    content: counter(list);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60vh;
    color: #4bafe98a;
    font-weight: bold;
    margin-left: -35px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translatey(-52%);
            transform: translatey(-52%);
    -webkit-transition: margin 0.2s ease-out;
    transition: margin 0.2s ease-out;
  }
  
  dt {
    color: #00a1ff;
    font-size: 3.5vh;
    position: absolute;
    left: 45%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotatez(-90deg);
            transform: translate(-50%, -50%) rotatez(-90deg);
    text-transform: uppercase;
    font-weight: bold;
  }
  
  dd {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    height: 100%;
    max-width: 45%;
    margin-left: 55%;
    padding: 5px;
    color: #999;
    font-size: 2.3vh;
  }
  
  @media screen and (max-width: 800px) {
    .container{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
      }
      dl{
        margin:20px 0;
        background: linear-gradient(to right, #fff 80%, transparent);
        box-shadow: -5px 5px 5px 0px rgba(153, 153, 153, 0.05);
      }
      dl:nth-child(even) {
        margin-left: 0;
      }
  }